[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "external/cmsis_device_f4"]
	path = external/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
